APP_NAME=Prism Backend
APP_ENV=development
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:3000

# MongoDB Configuration
MONGODB_URI=mongodb+srv://goudritika4_db_user:<db_password>@prismcluster.wzdi3fl.mongodb.net/?appName=PrismCluster
MONGODB_DATABASE=prism
